/* Scrollbar */

* {
  scrollbar-width: auto;
  scrollbar-color: rgb(42, 42, 42);
}

*::-webkit-scrollbar {
  margin-top: 3px;
  margin-bottom: 3px;
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(42, 42, 42);
  border-radius: 0;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  outline: 2px solid rgb(255, 255, 255, .2);
}

/* Checkbox */
.switch {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 24px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  cursor: pointer;
  transition: .4s;
}

.slider:before {
  content: '';
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  transition: .4s;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.slider.round {
  border-radius: 24px;
  outline: 1px solid rgba(255, 255, 255, .4);
}

.slider.round:before {
  border-radius: 50%;
}

/* Hero Buttons */
.hero .button.is-pulled-right {
  margin-top: -5px;
  margin-bottom: -5px;
  margin-left: 5px;
}

/* Sizes */
.is-fullheight {
  min-height: 100vh;
}

/* Vertical align */
.table td.is-vcentered,
.table th.is-vcentered {
  vertical-align: middle;
}

.columns.is-vcentered {
  align-items: center;
}

/* Password eye */
.control.has-icons-right .icon > .fa-eye,
.control.has-icons-right .icon > .fa-eye-slash {
  pointer-events: initial;
  cursor: pointer;
}