@import 'share.css';
@import 'all.min.css';
@import 'bulma-dark.min.css';

*,
*:focus {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

html, body {
  overflow: hidden visible;
  color: #eee;
  background-color: transparent;
}

a:focus,
input:focus,
button:focus,
textarea:focus {
  border: initial !important;
  box-shadow: none !important;
}

select option {
  background-color: #333;
}

.modal-card-foot, .modal-card-head {
  background-color: rgb(30, 32, 33);
}
.modal-card-body {
  background-color: rgb(24, 26, 27);
}
.modal-background {
  background-color: rgba(0, 0, 0, 0.65);
}

.container {
  max-width: initial !important;
}

.hero .subtitle .fas {
  line-height: 20px;
  cursor: pointer;
}
.hero .subtitle .select {
  margin-top: -5px;
  margin-bottom: -10px;
}
.hero .subtitle .select select {
  border-radius: 2px;
}
.hero .subtitle input,
.hero .subtitle button,
.hero .subtitle .select select {
  background-color: rgba(0, 0, 0, 0.7);
}
.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #888;
}
