@import 'common.css';
@import 'all.min.css';
@import 'bulma-dark.min.css';

html, body {
  overflow: hidden;
}

.is-fullheight {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}

.has-cursor-pointer {
  pointer-events: initial;
  cursor: pointer !important;
  z-index: 10;
}
.has-addons .button {
  border-color: #444;
}

.login,
.loading,
.disconnected {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #363636;
  z-index: 1000;
}

.login .input {
  width: 200px;
}

.disconnected {
  background-color: rgba(54, 54, 54, .9);
}

.menu-label {
  color: #2e2e2e;
  font-size: .8em;
  font-weight: bold;
}

.lateral-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 300px;
  border-right: 1px solid #666;
  outline: 1px solid #333;
  user-select: none;
}
body.minimize .lateral-menu {
  cursor: pointer;
}
.lateral-menu hr {
  height: 1px;
  margin: 1.5rem 1em;
}
.lateral-menu ul,
.lateral-menu li {
  min-width: 100%;
}
.lateral-menu li {
  position: relative;
}
.lateral-menu > section {
  overflow-y: auto;
  position: relative;
  width: 100%;
  min-height: 100%;
}
body[mode="development"] .lateral-menu > section {
  background-color: #b70f0f;
}
.lateral-menu > .minimize {
  position: absolute;
  top: 1px;
  right: 8px;
  padding: 4px;
  color: #eee;
  cursor: pointer;
  z-index: 1;
}
.lateral-menu > section > .unminimize {
  position: absolute;
  left: -12px;
  top: calc(50% - (36px / 2));
  transition: left 500ms ease-in-out;
}
body.minimize .lateral-menu > section > .unminimize {
  left: 1px;
}
.lateral-menu > section > .unminimize .fas {
  display: block;
}
.lateral-menu > section > .hero-body {
  position: relative;
  flex-direction: column;
  align-items: inherit !important;
  padding: 1em;
  color: #eee;
  transition: opacity 500ms ease-in-out;
}
body.minimize .lateral-menu > section > .hero-body {
  opacity: 0;
}
.lateral-menu a:hover {
  background-color: rgba(255, 255, 255, .2) !important;
}
.lateral-menu a.is-active {
  background-color: rgba(255, 255, 255, .3) !important;
}
.lateral-menu .switch {
  position: absolute;
  top: 6px;
  right: 6px;
}

.content {
  overflow: hidden scroll;
  position: relative;
  margin-left: 300px;
  padding: 0px;
  width: calc(100% - 300px + 8px);
  color: #eee;
  background-color: #363636;
  transition: margin-left 500ms ease-in-out, width 500ms ease-in-out;
}
body.minimize .content {
  margin-left: 15px;
  width: calc(100% - 15px + 8px);
}
.content.is-scrollbar {
  width: calc(100% - 300px);
}
body.minimize .content.is-scrollbar {
  margin-left: 15px;
  width: calc(100% - 15px);
}

.content > iframe {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
}

[state]::before {
  content: ' ';
  position: absolute;
  left: -1.4rem;
  margin-right: .5rem;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 3px;
}
[state="connected"]::before {
  background-color: #3bcb42;
}
[state="warning"]::before {
  background-color: #cbc93b;
}
[state="disconnected"]::before {
  background-color: #b72b2b;
}