html, body {
  background-color: transparent;
}
body {
  margin-top: 20px;
}

.titlebar {
  position: fixed;
  top: 0px;
  left: 300px;
  right: 0px;
  padding-left: 5px;
  height: 20px;
  background: linear-gradient(to top, #7a7a7a 15%, #555);
  transition: left 500ms ease-in-out;
  z-index: 1;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}
body.minimize .titlebar {
  left: 15px;
}
.titlebar .title {
  font-size: 14px;
  vertical-align: 3px;
}
.titlebar .far,
.titlebar .fas {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 19px;
  cursor: pointer;
  -webkit-app-region: no-drag;
  -webkit-user-select: initial;
}
.titlebar .fa-x {
  font-size: 12px;
}
.titlebar .fa-square {
  font-size: 12px;
}
.titlebar .fa-window-minimize {
  font-size: 10px;
  line-height: 20px;
}

.lateral-menu,
.lateral-menu > section,
.lateral-menu > section > .hero-body {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.lateral-menu > section > .hero-body > .minimize {
  -webkit-app-region: no-drag;
  -webkit-user-select: initial;
}